.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background-color:#efefef;
border: solid #999999 1px;
border-radius:3px;
padding:1px;
box-shadow: 0 -1px 1px rgba(0,0,0,.2);
}

/* IE 6 */
* html .footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
#space{
padding-bottom:73px;
}
h3{
color: #0000CC;
font-weight: bold;
font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
	    text-shadow: 0 -1px 1px rgba(0,0,0,.2);
}